<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>filter.FiltroLogueo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SvLogin</servlet-name>
        <servlet-class>servlet.SvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvPublicacion</servlet-name>
        <servlet-class>servlet.SvPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvRegister</servlet-name>
        <servlet-class>servlet.SvRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLogOut</servlet-name>
        <servlet-class>servlet.SvLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvComentario</servlet-name>
        <servlet-class>servlet.SvComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvPublicacionAnclada</servlet-name>
        <servlet-class>servlet.SvPublicacionAnclada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>noimporta</servlet-name>
        <servlet-class>servlet.noimporta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvLogin</servlet-name>
        <url-pattern>/SvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvPublicacion</servlet-name>
        <url-pattern>/SvPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvRegister</servlet-name>
        <url-pattern>/SvRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLogOut</servlet-name>
        <url-pattern>/SvLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvComentario</servlet-name>
        <url-pattern>/SvComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvPublicacionAnclada</servlet-name>
        <url-pattern>/SvPublicacionAnclada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>noimporta</servlet-name>
        <url-pattern>/noimporta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
